1)Normalize Customer Age & Salary for Credit Score Prediction
Topics: Normalization (Min-Max), Data Scaling
Problem:
A bank collected customer data containing:
age, monthly_salary, credit_score
Normalize age and salary using Min-Max Normalization, and build a dataset ready for ML models

In [24]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
import pandas as pd
df = pd.read_csv("Sample datasets/1.csv")

In [25]:
scalar = MinMaxScaler()
df['age'] = scalar.fit_transform(df[['age']])
df['monthly_salary'] = scalar.fit_transform(df[['monthly_salary']])
df

     age  monthly_salary  credit_score
0  0.000        0.000000           650
1  0.150        0.068627           700
2  0.325        0.215686           720
3  0.575        0.411765           680
4  0.825        0.705882           710
5  1.000        1.000000           690
6  0.200        0.117647           705

2)Encode Car Brand & Fuel Type for Price Prediction
Topics: Label Encoding, One-Hot Encoding
Problem:
A car resale platform has features:
brand, fuel, price
Perform:
Label Encoding for brand
One-Hot Encoding for fuel type
Prepare the data for ML.

In [26]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import pandas as pd
df = pd.read_csv('Sample datasets/2.csv')
df

    brand    fuel   price
0  Toyota  Petrol  550000
1   Honda  Diesel  620000
2    Tata  Petrol  450000
3  Toyota     CNG  580000
4   Honda  Petrol  600000
5    Tata  Diesel  500000

In [27]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
encoder = LabelEncoder()
one_hot_encoder = OneHotEncoder(categories='auto')
# df['brand'] = encoder.fit_transform(df[['brand']])
# df['fuel'] = one_hot_encoder.fit_transform(df[['fuel']])
df

    brand    fuel   price
0  Toyota  Petrol  550000
1   Honda  Diesel  620000
2    Tata  Petrol  450000
3  Toyota     CNG  580000
4   Honda  Petrol  600000
5    Tata  Diesel  500000

3)Binarize Customer Spending for Marketing Segmentation
Topics: Binarization

Problem:
An online store tracks monthly_spending of customers.
Using a binarizer threshold of ₹5000, create:

1 → High spender

0 → Low spender

Use binarization to build this feature.

In [28]:
from sklearn.preprocessing import Binarizer
import pandas as pd
df = pd.read_csv("Sample datasets/3.csv")

binarizer = Binarizer(threshold=5000)
df["monthly_spending"] = binarizer.fit_transform(df[['monthly_spending']])
df

  customer_id  monthly_spending
0        C101                 0
1        C102                 1
2        C103                 0
3        C104                 1
4        C105                 1
5        C106                 1

4)Predict Student Scores Using Linear Regression
Topics: Linear Regression

Problem:
Given data:
hours_studied → exam_score

Train a Linear Regression model to predict a student’s expected score based on hours studied.

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

l_reg = LinearRegression()
import pandas as pd
df = pd.read_csv("Sample datasets/4.csv")
x = df[['hours_studied']]
y = df['exam_score']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)


l_reg.fit(x_train, y_train)
l_reg.score(x_train, y_train)
import numpy as np
new_predictions = np.array([[9]])
l_reg.predict(new_predictions)

C:\Users\chaud\PyCharmMiscProject\.venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([101.24418605])

5)Robust Scaling on Outlier-Heavy Salary Data
Topics: RobustScaler

Problem:
A dataset of employees contains extreme salary outliers.
Apply Robust Scaling to remove the influence of outliers and convert salaries into a more stable scale.

In [30]:
from sklearn.preprocessing import RobustScaler
import pandas as pd
df = pd.read_csv("Sample datasets/5.csv")

y = df['salary']

r_scaler = RobustScaler()
df['salary'] = r_scaler.fit_transform(df[['salary']])
df

  employee_id    salary
0         E01 -0.104167
1         E02 -0.041667
2         E03  0.020833
3         E04  0.062500
4         E05  3.604167
5         E06  4.437500
6         E07 -0.083333
7         E08 -0.020833