In [13]:
# 5)Handle Missing Data
# Patient Sugar_Level
# P1 110
# P2 NaN
# P3 95
# P4 130
# P5 NaN
# P6 105
# P7 120
# P8 NaN
# Create the DataFrame in Pandas
# Print missing values
# Calculate mean
# Replace NaN with the mean
# Show the cleaned DataFrame

In [14]:
import pandas as pd
dataset = pd.read_csv("patient_sugar_level_dataset.csv");
dataset

  name  sugar_level
0   p1        110.0
1   p2          NaN
2   p3         95.0
3   p4        130.0
4   p5          NaN
5   p6        105.0
6   p7        120.0
7   p8          NaN

In [15]:
dataset[dataset["sugar_level"].isnull()]

  name  sugar_level
1   p2          NaN
4   p5          NaN
7   p8          NaN

In [16]:
mean = int(dataset['sugar_level'].mean())
mean

112

In [17]:
dataset = dataset["sugar_level"].fillna(mean)
dataset

0    110.0
1    112.0
2     95.0
3    130.0
4    112.0
5    105.0
6    120.0
7    112.0
Name: sugar_level, dtype: float64