In [1]:
from pandas import read_csv
data1 = read_csv("income_wrt_age.csv")
data1.head()

   Age  Income
0   20   40000
1   21   41500
2   22   43000
3   23   44500
4   24   46000

In [2]:
X = data1['Age']
Y = data1['Income']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=0, shuffle=False)

In [5]:
print(X_train,'\n')
print(X_test,'\n')
print(y_train,'\n')
print(y_test,'\n')

0     20
1     21
2     22
3     23
4     24
      ..
75    44
76    45
77    46
78    47
79    48
Name: Age, Length: 80, dtype: int64

80    49
81    50
82    51
83    52
84    53
85    54
86    55
87    56
88    57
89    58
90    59
91    60
92    61
93    62
94    63
95    64
96    65
97    66
98    67
99    68
Name: Age, dtype: int64

0     40000
1     41500
2     43000
3     44500
4     46000
      ...
75    76000
76    77500
77    79000
78    80500
79    82000
Name: Income, Length: 80, dtype: int64

80     83500
81     85000
82     86500
83     88000
84     89500
85     91000
86     92500
87     94000
88     95500
89     97000
90     98500
91    100000
92    101500
93    103000
94    104500
95    106000
96    107500
97    109000
98    110500
99    112000
Name: Income, dtype: int64